---
import Layout from "../layouts/Layout.astro";

interface PageData {
  title: string;
  description: string;
}

// Datos de la página para la Política de Cookies
const politicaDeCookiesData: PageData = {
  title: "Política de Cookies | Nexito Technology",
  description: "Conoce cómo utilizamos las cookies para mejorar tu experiencia en nuestro sitio web.",
};
---

<Layout title={politicaDeCookiesData.title} description={politicaDeCookiesData.description} type="website">
  <section class="py-16 bg-white shadow-inner rounded-lg">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold mb-6 text-center text-gray-800">
        Política de Cookies
      </h1>
      <p class="text-lg mb-4 text-gray-700">
        Esta Política de cookies fue actualizada por última vez el 25 de enero de 2025 y se aplica a los ciudadanos y residentes legales permanentes del Espacio Económico Europeo y Suiza.
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">1. Introducción</h2>
      <p class="text-lg mb-4 text-gray-700">
        Nuestra web, <a href="https://nexito.tech" class="text-blue-500">https://nexito.tech</a> (en adelante: "la web") usa cookies y otras tecnologías relacionadas (para mayor comodidad, todas las tecnologías se denominarán como "cookies"). Las cookies también pueden ser colocadas por terceros que hemos contratado. En el siguiente documento le informamos sobre el uso de cookies en nuestra web.
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">2. ¿Qué son las cookies?</h2>
      <p class="text-lg mb-4 text-gray-700">
        Una cookie es un pequeño archivo que se envía junto con las páginas de esta web y que su navegador almacena en el disco duro de su ordenador u otro dispositivo. La información almacenada puede ser devuelta a nuestros servidores o a los servidores de terceros apropiados durante una visita posterior.
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">3. ¿Qué son los scripts?</h2>
      <p class="text-lg mb-4 text-gray-700">
        Un script es un fragmento de código de programa que se utiliza para hacer que nuestra web funcione correctamente y de forma interactiva. Este código se ejecuta en nuestro servidor o en su dispositivo.
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">4. ¿Qué es un web beacon?</h2>
      <p class="text-lg mb-4 text-gray-700">
        Una baliza web (o una etiqueta de píxel) es una pequeña e invisible pieza de texto o imagen en una web que se utiliza para monitorear el tráfico en una web. Para ello, se almacenan varios datos sobre usted mediante estas balizas web.
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">5. Cookies</h2>
      <h3 class="text-xl font-semibold mb-4 text-gray-800">5.1 Cookies técnicas o funcionales</h3>
      <p class="text-lg mb-4 text-gray-700">
        Algunas cookies aseguran que ciertas partes de la web funcionen correctamente y que sus preferencias de usuario sigan siendo reconocidas. Al colocar cookies funcionales, le facilitamos la visita a nuestra web. De esta manera, usted no necesita introducir repetidamente la misma información cuando visita nuestra web y, por ejemplo, los artículos permanecen en su cesta de la compra hasta que usted haya pagado. Podemos colocar estas cookies sin su consentimiento.
      </p>
      <h3 class="text-xl font-semibold mb-4 text-gray-800">5.2 Cookies de estadísticas</h3>
      <p class="text-lg mb-4 text-gray-700">
        Utilizamos cookies estadísticas para optimizar la experiencia de la web para nuestros usuarios. Con estas cookies estadísticas obtenemos información sobre el uso de nuestra web. Le pedimos su permiso para colocar cookies estadísticas.
      </p>
      <h3 class="text-xl font-semibold mb-4 text-gray-800">5.3 Cookies publicitarias</h3>
      <p class="text-lg mb-4 text-gray-700">
        En esta web usamos cookies de publicidad, lo que nos permite obtener información sobre los resultados de las campañas. Esto ocurre en base a un perfil que creamos basado en su comportamiento en <a href="https://nexito.tech" class="text-blue-500">https://nexito.tech</a>. Con estas cookies usted, como visitante de la web, está vinculado a un ID único, pero estas cookies no harán un perfil de tu comportamiento e intereses para servir anuncios personalizados.
      </p>
      <h3 class="text-xl font-semibold mb-4 text-gray-800">5.4 Cookies de Marketing/Seguimiento</h3>
      <p class="text-lg mb-4 text-gray-700">
        Las cookies de marketing/seguimiento son cookies, o cualquier otra forma de almacenamiento local, usadas para crear perfiles de usuario para mostrar publicidad o para hacer el seguimiento del usuario en esta web o en varias webs con fines de marketing similares. Debido a que estas cookies están marcadas como cookies de seguimiento, le pedimos su permiso para colocarlas.
      </p>
      <h3 class="text-xl font-semibold mb-4 text-gray-800">5.5 Redes sociales</h3>
      <p class="text-lg mb-4 text-gray-700">
        En nuestra web, hemos incluido contenido de Facebook, Twitter, LinkedIn, TikTok y Instagram para promocionar páginas web (por ejemplo, "me gusta", "pin") o compartir (por ejemplo, "tweet") en redes sociales como Facebook, Twitter, LinkedIn, TikTok y Instagram. Este contenido está incrustado con código derivado de Facebook, Twitter, LinkedIn, TikTok y Instagram y coloca cookies. Este contenido podría almacenar y procesar cierta información para la publicidad personalizada. Por favor lea la política de privacidad de estas redes sociales (que puede cambiar frecuentemente) para saber que hacen con sus datos (personales) que procesan usando estas cookies. Los datos que reciben son anonimizados lo máximo posible. Facebook, Twitter, LinkedIn, TikTok y Instagram están ubicados en los Estados Unidos.
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">6. Cookies usadas</h2>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Active Campaign</strong><br>
        Propósito pendiente de investigación<br>
        <strong>Consent to service active-campaign</strong><br>
        Uso: Usamos Active Campaign para marketing automatizado (marketing por email automático).<br>
        Compartir datos: Para más información, por favor lee la <a href="https://www.activecampaign.com/privacy-policy" class="text-blue-500">Active Campaign Política de privacidad</a>.
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Microsoft Clarity</strong><br>
        Propósito pendiente de investigación<br>
        Nombre: prism_*<br>
        Caducidad: Función<br>
        <strong>Consent to service microsoft-clarity</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Thrive Leads</strong><br>
        Funcional<br>
        <strong>Consent to service thrive-leads</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Yandex Metrica</strong><br>
        Estadísticas, Funcional<br>
        <strong>Consent to service yandex-metrica</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Wordfence</strong><br>
        Funcional<br>
        <strong>Consent to service wordfence</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Bing Ads</strong><br>
        Funcional, Marketing<br>
        <strong>Consent to service bing-ads</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Elementor</strong><br>
        Estadísticas (anónimas), Funcional<br>
        <strong>Consent to service elementor</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>WordPress</strong><br>
        Funcional<br>
        <strong>Consent to service wordpress</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Facebook</strong><br>
        Marketing, Funcional<br>
        <strong>Consent to service facebook</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Google Adsense</strong><br>
        Marketing<br>
        <strong>Consent to service google-adsense</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>WPML</strong><br>
        Funcional<br>
        <strong>Consent to service wpml</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Complianz</strong><br>
        Funcional<br>
        <strong>Consent to service complianz</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Google Analytics</strong><br>
        Estadísticas<br>
        <strong>Consent to service google-analytics</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>LinkedIn</strong><br>
        Marketing, Preferencias, Estadísticas, Funcional<br>
        <strong>Consent to service linkedin</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>PixelYourSite</strong><br>
        Estadísticas<br>
        <strong>Consent to service pixelyoursite</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>GDPR Cookie Consent</strong><br>
        Funcional<br>
        <strong>Consent to service gdpr-cookie-consent</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Wistia</strong><br>
        Estadísticas<br>
        <strong>Consent to service wistia</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Zendesk</strong><br>
        Estadísticas<br>
        <strong>Consent to service zendesk</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Google reCAPTCHA</strong><br>
        Funcional, Marketing<br>
        <strong>Consent to service google-recaptcha</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Google Ads</strong><br>
        Estadísticas, Marketing<br>
        <strong>Consent to service google-ads</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>YouTube</strong><br>
        Marketing<br>
        <strong>Consent to service youtube</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Google Maps</strong><br>
        Marketing<br>
        <strong>Consent to service google-maps</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Twitter</strong><br>
        Funcional, Marketing<br>
        <strong>Consent to service twitter</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Hotjar</strong><br>
        Estadísticas, Funcional<br>
        <strong>Consent to service hotjar</strong>
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Misceláneas</strong><br>
        Estadísticas<br>
        <strong>Consent to service misceláneas</strong>
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">7. Consentimiento</h2>
      <p class="text-lg mb-4 text-gray-700">
        Cuando visite nuestra web por primera vez, le mostraremos una ventana emergente con una explicación sobre las cookies. En cuanto haga clic en "Guardar preferencias", estará dando su consentimiento para que utilicemos las categorías de cookies y plugins que haya seleccionado en la ventana emergente, tal y como se describe en esta Política de cookies. Puede desactivar el uso de cookies a través de su navegador, pero tenga en cuenta que nuestra web podría dejar de funcionar correctamente.
      </p>
      <h3 class="text-xl font-semibold mb-4 text-gray-800">7.1 Administre sus ajustes de consentimiento</h3>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Funcional</strong><br>
        Siempre activo<br>
        <strong>Preferencias</strong><br>
        Preferencias<br>
        <strong>Estadísticas</strong><br>
        Estadísticas<br>
        <strong>Marketing</strong><br>
        Marketing
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">8. Activación/desactivación y eliminación de cookies</h2>
      <p class="text-lg mb-4 text-gray-700">
        Puede utilizar su navegador de internet para eliminar las cookies automática o manualmente. También puede especificar que no se coloquen determinadas cookies. Otra opción es cambiar los ajustes de su navegador de internet para que reciba un mensaje cada vez que se coloque una cookie. Para más información sobre estas opciones, consulte las instrucciones de la sección de ayuda de su navegador. Ten en cuenta que nuestro sitio web puede no funcionar correctamente si se deshabilitan todas las cookies. Si decides eliminar las cookies de tu navegador, se volverán a colocar después de que des tu consentimiento la próxima vez que visites nuestro sitio web.
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">9. Sus derechos con respecto a los datos personales</h2>
      <p class="text-lg mb-4 text-gray-700">
        Usted tiene los siguientes derechos con respecto a sus datos personales:
      </p>
      <ul class="list-disc list-inside text-gray-700">
        <li>Usted tiene derecho a saber por qué se necesitan sus datos personales, qué pasará con ellos y durante cuánto tiempo se conservarán.</li>
        <li>Derecho de acceso: Tiene derecho a acceder a los datos personales que conocemos sobre usted.</li>
        <li>Derecho de rectificación: tiene derecho a completar, rectificar, borrar o bloquear sus datos personales cuando lo desee.</li>
        <li>Si usted nos da su consentimiento para procesar sus datos, tiene derecho a revocar dicho consentimiento y a que se eliminen sus datos personales.</li>
        <li>Derecho de cesión de sus datos: tiene derecho a solicitar todos sus datos personales al responsable y a transferirlos íntegramente a otro responsable del tratamiento de datos.</li>
        <li>Derecho de oposición: usted puede oponerse al tratamiento de sus datos. Nosotros cumplimos con esto, a menos que existan motivos justificados para el tratamiento.</li>
      </ul>
      <p class="text-lg mb-4 text-gray-700">
        Para ejercer estos derechos, por favor, póngase en contacto con nosotros. Por favor refiérase a los detalles de contacto en la parte inferior de esta Política de cookies. Si tiene alguna queja sobre cómo manejamos sus datos, nos gustaría que nos lo indicara, no obstante, también tiene derecho a presentar una reclamación a la autoridad supervisora (la Autoridad de protección de datos).
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">10. Datos de contacto</h2>
      <p class="text-lg mb-4 text-gray-700">
        Para preguntas y/o comentarios sobre nuestra Política de cookies y esta declaración, póngase en contacto con nosotros utilizando los siguientes datos de contacto:
      </p>
      <p class="text-lg mb-4 text-gray-700">
        <strong>Nexito Technology LLC.</strong><br>
        99 Wall Street #5776<br>
        10005 New York, EE.UU<br>
        Web: <a href="https://nexito.tech" class="text-blue-500">https://nexito.tech</a><br>
        Correo electrónico: <a href="mailto:info@nexito.tech" class="text-blue-500">info@nexito.tech</a><br>
        Número de teléfono: 34 950 79 45 43
      </p>
    </div>
  </section>
</Layout>