---
// src/pages/aviso-legal.astro
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout>
  <section class="py-16 bg-white shadow-inner rounded-lg">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold mb-6 text-center text-gray-800">
        Aviso Legal
      </h1>
      <p class="text-lg mb-4 text-gray-700">
        Este es el aviso legal de Nexito Technology. En esta página, encontrarás
        toda la información legal relevante sobre nuestros servicios y
        políticas.
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">Introducción</h2>
      <p class="text-lg mb-4 text-gray-700">
        Bienvenido al aviso legal de Nexito Technology. Este documento establece
        los términos y condiciones bajo los cuales se proporcionan los servicios
        de nuestra empresa.
      </p>
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">
        Uso de la Información
      </h2>
      <p class="text-lg mb-4 text-gray-700">
        La información proporcionada en este sitio web es de carácter
        informativo y no constituye una oferta de servicios. Nexito Technology
        se reserva el derecho de modificar estos términos en cualquier momento
        sin previo aviso.
      </p>
      <!-- Añade más secciones y contenido según sea necesario -->
    </div>
  </section>
</Layout>
